<div id="app" class="container">
  <alert ng-hide="hideNewInfo" type="info" close="hideNewInfo = true">
    Welcome, {{User.settings.name}}. This appears to be the first time you're using Portfoliosim.
    Here, we have a list of stock portfolios. Normally, we would be showing portfolios you've created, but we're displaying the general list since you haven't created any.
    <br>From here, you can click on any portfolio to view its details: what stocks are in it, and the time period the portfolio was active for.
  </alert>
  <div class="col-md-9">
    <div id="portfolio-filter" class="row">
      <div class="btn-group btn-group-justified" role="group" aria-label="What filters to view">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" ng-model="portFilter" btn-radio="'you'">Your Portfolios</button>
        </div>
        <!--<div class="btn-group" role="group">
          <button type="button" class="btn btn-default" ng-model="portFilter" btn-radio="'friend'">Friend Portfolios</button>
        </div>-->
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" ng-model="portFilter" btn-radio="'all'">All Portfolios</button>
        </div>
      </div>
    </div>
    <div id="portfolio-summary" class="row">
      <div class="col-md-4">
        <h3 class="text-center">Your Best Portfolio</h3>
        <h1><div class="text-center text-success">{{bestPortfolio.increase | number:2}}%</div></h1>
        <p class="text-center">{{bestPortfolio.name}}</p>
      </div>
      <div class="col-md-4">
        <h3 class="text-center">Your Worst Portfolio</h3>
        <h1><div class="text-center text-danger">{{worstPortfolio.increase | number:2}}%</div></h1>
        <p class="text-center">{{worstPortfolio.name}}</p>
      </div>
    </div>
    <h3>Your Portfolios</h3>
    <div id="portfolio-table" class="table-responsive">
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr class="info">
            <th>Portfolio Name</th>
            <th># of Stocks</th>
            <th>Starting Value</th>
            <th>Ending Value</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, portfolio) in portfolioList">
            <td><a href=#/portfolio/{{key}}>{{portfolio.name}}</a></td>
            <td>{{portfolio.stocks.length}}</td>
            <td>{{portfolio.startValue | currency}}</td>
            <td>{{portfolio.endValue | currency}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-3">
    <h4><a href="{{feeds.link}}" target="_blank">From {{feeds.title}}</a></h4>
    <div class="row-fluid">
      <ul class="list-group">
        <li ng-repeat="feed in feeds.entries" class="list-group-item">
          <h5><a target="_blank" href="{{feed.link}}">{{feed.title}}</a></h5>
          <p class="text-left small">{{feed.contentSnippet}}</p>
        </li>
      </ul>
    </div> 
  </div>
</div>