<div id="app" class="container">
  <div class="jumbotron">
    <h1>Stock Portfolio Simulator</h1>
    <p>This is the friend powered Stock Portfolio Simulator. For the casual investors who want to grow their assets without needing to stare at financial news all day.</p>
    <p>Create a portfolio of stocks and see how well you would do if you had bought them on the real stock market.</p>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="Build">
        <div class="caption">
          <h3>Build</h3>
          <p>Use our simulator see how money much your investments would earn</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="Share">
        <div class="caption">
          <h3>Share</h3>
          <p>Share your portfolios with friends and get personal feedback</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="Improve">
        <div class="caption">
          <h3>Improve</h3>
          <p>Use the Clone option to build off anyone's successful portfolios</p>
        </div>
      </div>
    </div>
  </div>
</div>