<div id="app" class="container">
  <div class="row">
    <h2 class="page-header">Portfolio Display</h2>
    <h3>For Portfolio: {{portfolioName}}</h3>
    <h4>Owned By: {{portfolio.owner}}</h4>
    <!-- Show alternate text if there are no entries -->
    <div id="stock-table" class="table-responsive">
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr class="info">
            <th>Stock Name</th>
            <th>Current Stock Price</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, stock) in stockList">
            <td>{{key}}</td>
            <td>{{stock.price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
