<div id="app" class="container">
  <div class="row">
    <h3 class="page-header">New Portfolio called: <b>{{newPortfolio.name}}</b></h3>
    <form name="newPortfolioInfo" role="form" novalidate="">
      <div class="form-group col-md-6">
        <label for="portfolioName">Name</label>
        <input type="text" ng-model="newPortfolio.name" class="form-control" placeholder="Give your portfolio a name" required />
      </div>
      <div class="form-group col-md-3">
        <label for="portfolioStart">Start Date</label>
        <input type="date" id="startDate" name="startDate" ng-model="newPortfolio.startDate" class="form-control" placeholder="yyyy-MM-dd" required />
      </div>
      <div class="form-group col-md-3">
        <label for="portfolioEnd">End Date (Optional)</label>
        <input type="date" id="endDate" name="endDate" ng-model="newPortfolio.endDate" class="form-control" placeholder="yyyy-MM-dd" />
      </div>
      
      <div ng-show="newPortfolioInfo.$error.required" class="alert alert-danger" role="alert">
        Required fields need to be filled in
      </div>
      <div ng-show="newPortfolioInfo.$error.date" class="alert alert-danger" role="alert">
        Not a valid date
      </div>
    </form>
  </div>
  
  <div class="row">
    <div id="orders-table" class="table-responsive">
      <form name="newStockInfo" role="form" novalidate="">
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr class="info">
            <th>Stock Symbol</th>
            <th># Shares</th>
            <th>Starting Price</th>
            <th>Ending Price</th>
            <th>Starting Value</th>
            <th>Ending Value</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="stock in newPortfolio.stocks">
            <td><a href="http://finance.yahoo.com/q?s={{stock.symbol}}" target="_blank">{{stock.symbol}}</a></td>
            <td>{{stock.shares}}</td>
            <td>{{stock.startPrice}}</td>
            <td>{{stock.endPrice}}</td>
            <td>${{stock.startValue}}</td>
            <td>${{stock.endValue}}</td>
            <td>
              <button ng-click="removeStock($index)" type="button" class="btn btn-xs btn-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Remove</td>
              </button>
            </td>
          </tr>
          
          <tr>
            <td>
              <input type="text" ng-model="newStock.symbol" placeholder="Type in stock name" typeahead="stock.value as stock.label for stock in getStocks($viewValue)" typeahead-on-select="selectStock($item)" typeahead-loading="loadingStocks" class="form-control" required />
              <i ng-show="loadingStocks" class="glyphicon glyphicon-refresh"> Getting suggestions</i>
            </td>
            <td>
              <input type="number" ng-model="newStock.shares" min="1" ng-change="updateNewStock()" placeholder="Amount of shares" class="form-control" required />
            </td>
            <td>
              <p class="form-control-static">{{newStock.startPrice}}</p>
            </td>
            <td>
              <p class="form-control-static">{{newStock.endPrice}}</p>
            </td>
            <td>
              <p class="form-control-static">${{newStock.startValue}}</p>
            </td>
            <td>
              <p class="form-control-static">${{newStock.endValue}}</p>
            </td>
            <td>
              <button ng-click="addStock(newStock)" ng-disabled="!newStockInfo.$valid || !newPortfolioInfo.$valid || !newStock.startPrice || !newStock.endPrice" type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-add" aria-hidden="true"></span>Add Stock</td>
              </button>
            </td>
          </tr>
          <tr ng-show="newStockInfo.$error.required">
            <td colspan="99" class="alert alert-warning" role="alert">
              Enter in a Stock Symbol and # of shares to acquire
            </td>
          </tr>
          <tr ng-show="newStockInfo.$error.number || newStockInfo.$error.min">
            <td colspan="99" class="alert alert-warning" role="alert">
              Not a valid number for shares
            </td>
          </tr>
          <tr ng-show="(newStock.symbol) && (!newStock.startPrice || !newStock.endPrice)">
            <td colspan="99" class="alert alert-warning" role="alert">
              Error getting the stock price of the entered symbol
            </td>
          </tr>
        </tbody>
      </table>
      </form>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Portfolio Starting Value</div>
          <div class="panel-body">
            {{newPortfolio.startValue | currency}}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Portfolio Ending Value</div>
          <div class="panel-body">
            {{newPortfolio.endValue | currency}}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-success">
          <div class="panel-heading">Value Change</div>
          <div class="panel-body">
            {{100 * (newPortfolio.endValue - newPortfolio.startValue) / newPortfolio.startValue | number:2}}%
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
        <button ng-click="savePortfolio()" ng-disabled="!newPortfolioInfo.$valid || newPortfolio.stocks <= 0" type="button" class="btn btn-info">
          <span class="glyphicon glyphicon-save" aria-hidden="true"></span>Save New Portfolio</td>
        </button>
      </div>
      <div class="col-md-6">
        <div ng-show="newPortfolio.stocks <= 0" class="alert alert-warning">
          Add some stocks to your portfolio
        </div>
      </div>
    </div>
  </div>
</div>
