<div ng-include src="'partials/partial-header.html'"></div>

<div id="app" class="container">
  <div class="row">
    <h2 class="page-header">Portfolio Display</h2>
    <h3>For Portfolio: {{portfolioName}}</h3>
    <h4>Owned By: {{portfolio.owner}}</h4>
    <!-- Show alternate text if there are no entries -->
    <div id="stock-table" class="table-responsive">
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr class="info">
            <th>Stock Name</th>
            <th>Stock Price on {{portfolio.startDate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, stock) in portfolio.stocks">
            <td>{{key}}</td>
            <td>{{stock.price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      Starting value: {{}}<br>
      Ending value: {{}}
    </div>
    <button ng-click="clonePortfolio()" type="button" class="btn btn-info">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Clone Portfolio</td>
    </button>
  </div>
</div>
