<div ng-include src="'partials/partial-header.html'"></div>

<div id="app" class="container">
  <div class="row">
    <h2 class="page-header">New Portfolio called "{{newPortfolio.id}}"</h2>
    <form name="newPortfolioInfo">
      Name: <input type="text" ng-model="newPortfolio.id" class="form-control" placeholder="Give your portfolio a name here">
      Start Date: <input type="date" id="startDate" name="input" ng-model="newPortfolio.startDate"
        placeholder="yyyy-MM-dd" required />
      End Date (Optional): <input type="date" id="endDate" name="input" ng-model="newPortfolio.endDate"
        placeholder="yyyy-MM-dd" />
      <span class="error" ng-show="myForm.input.$error.required">
        Fill in empty fields</span>
      <span class="error" ng-show="myForm.input.$error.date">
        Not a valid date!</span>
    </form>
    
    <div id="orders-table" class="table-responsive">
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr class="info">
            <th>Stock Symbol</th>
            <th># Shares</th>
            <th>Current Stock Price</th>
            <th>Remove Stock</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, stock) in newPortfolio.stocks">
            <td>{{key}}</td>
            <td>{{stock.shares}}</td>
            <td>{{stock.price}}</td>
            <td>
              <button ng-click="removeStock(key)" type="button" class="btn btn-xs btn-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Remove</td>
              </button>
            </td>
          </tr>
          
          <tr>
            <td>
              <input type="text" ng-model="newStock.name" placeholder="Type in stock name" typeahead="stock.value as stock.label for stock in getStocks($viewValue)" typeahead-loading="loadingStocks" class="form-control">
              <i ng-show="loadingStocks" class="glyphicon glyphicon-refresh"> Getting suggestions</i>
            </td>
            <td>
              <input type="number" ng-model="newStock.shares" placeholder="Amount of shares"class="form-control">
            </td>
            <td>
              <button ng-click="addStock(newStock)" type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-add" aria-hidden="true"></span>Add Stock</td>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button ng-click="savePortfolio()" type="button" class="btn btn-info">
      <span class="glyphicon glyphicon-save" aria-hidden="true"></span>Save New Portfolio</td>
    </button>
  </div>
</div>
